<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sseda.mapper.BoardMapper">
	
	

	<delete id="delete" parameterType="String">
	DECLARE
		
	BEGIN
		delete from reply where board_seqno=#{rno};
		delete from eventboard where board_seqno=#{rno};
	END;
	</delete>

</mapper>