@charset "UTF-8";
/* 아이템리스트*/
#keyword select , #keyword input[type=submit]{
	width:5%;
	padding:12px;
	margin:15px;
	border-radius: 10px;
}
#keyword input[type=text]{
	width:15%;
	padding:12px;
	margin:15px;
	border-radius: 10px;
}
#list{
	width: 70%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	resize: vertical;
	display: flex;
    flex-wrap: wrap;
}
.itemlist{
	height:250px;
	border-collapse : collapse;
	margin:20px;
	width:30%;
}

a, a:visited {
  text-decoration: none;
  
}
/* 버튼*/
a.button {
  display: inline;
  position: absolute;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnPurple {
  background: #A74982;
}
/* 버튼 3D */
.btnPurple.btnPush {
  box-shadow: 0px 5px 0px 0px #6D184B;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnPurple.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #6D184B;
}

#wrapper {
	height: auto;
	min-height: 100%;
	padding-bottom: 100px; 	
}
#iteminsertm{
	top:90%;
	transform:translate(25%);
}
#iteminsert{
	width: 98%;
	padding: 20px;
}
#content{
	width:53%;
	height:500px;
	resize: none;
}
#iteminsert input[type=text] {
	width:34%;
	padding:12px;
	margin:15px;
	border-radius: 10px;

}
#iteminsert textarea {
	width:49%;
	padding:12px;
	margin:15px;
	border-radius: 10px;

}
#iteminsert input[type=number] {
	width:34%;
	padding:12px;
	margin:15px;
	border-radius: 10px;

}
#iteminsert input[type=submit]{
	width:25%;
	padding:12px;
	margin:15px;
	border-radius: 10px;
}
#iteminsert input[type=file]{
	width:10%;
	padding:12px;
	margin:15px;
	border-radius: 10px;
}
#iteminsert fieldset{
	width:10%;
	padding:12px;
	margin:15px;
	border-radius: 10px;
}
#detail{
	width: 50%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	transform:translate(47%,10%);
}
#detail a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
#detail a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
#reply input[type=text]{
	width:95%;
	padding:12px;
	margin:15px;
	border-radius: 10px;
	display:block;
	height:30px;
}
#detail button{
	border:1px solid orange;
	color:skyblue;
	padding:5px;
}
/*페이지분할*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
