@charset "UTF-8";
@import 
url(https://fonts.googleapis.com/css?family=Roboto:400);

/*λ©”μΈν—¤λ”*/


.headicon {
	transform: translate(450%, 40%);
    height: 100;
    width: 120px;
}

.header {
  width: 1200px;
  margin: 5em auto 3em;
}

.header-nav {
  position: relative;
  padding-right: 7em;
  font-size: 1.2em;
}
.header-nav:before, .header-nav:after {
  content: "";
  display: table;
}
.header-nav:after {
  clear: both;
}

.menu {
	display: inline-block;
    float: right;
    list-style-type: none;
    margin: 0.8%;
    padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  color: #C05555;
  display: block;
  padding: 10px;
  position: relative;
  transition: color 0.3s;
  text-decoration: none;
}


.search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.search-toggle {
  position: relative;
  display: block;
  height: 10px;
  width: 10px;
}
.search-toggle::before, .search-toggle::after {
  content: "";
  position: absolute;
  display: block;
  transition: all 0.1s;
}
.search-toggle::before {
  border: 2px solid #C05555;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
}
.search-toggle::after {
  height: 2px;
  width: 7px;
  background: #C05555;
  top: 10px;
  left: 8px;
  transform: rotate(45deg);
}
.search-toggle.active::before {
  width: 0;
  border-width: 1px;
  border-radius: 0;
  transform: rotate(45deg);
  top: -1px;
  left: 4px;
}
.search-toggle.active::after {
  width: 12px;
  left: -1px;
  top: 4px;
}

.search-input:focus {
  outline: none;
}

#header-1 {
  border-bottom: 2px solid #C05555;
}
#header-1 .search-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150%;
  max-height: 0;
  transform: translateY(100%);
  background-color: #C05555;
  opacity: 90%;
  transition: all 0.3s
}
#header-1 .search-box .search-input {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  border: 0;
  background-color: transparent;
  opacity: 0;
  color: #fff;
}
#header-1 .search-box .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
#header-1.show .search-box {
  max-height: 200%;
}
#header-1.show .search-box .search-input {
  opacity: 1;
}



:root {
	--font-size: 2vw;
	--font-color: #C5BEAA;
	--paper-color: #F9F8EF;
	--paper-radius: 4px;
	--paper-inclination: 8deg;
	--background-color: #77EEDF;
}














/* ////////////////////////////////////////////////
//////////////////////////////////////////////// */


/* Paper Sheet */
h1.flag {
	white-space: nowrap;
	font-size: 2vw;
	font-size: var(--font-size);
	position: relative;
	cursor: default
	
	
	/* Paper Shadow */
}
h1.flag::before {
		content: '';
		position: absolute;
		bottom: 0;
		background-color: color( #77EEDF shade(50%) );
		background-color: var(--paper-shadow);
		width: 89%;
		left: 4%;
		height: 40%;
		filter: blur(2vw);
		transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
		transition: all var(--transition-duration) cubic-bezier(0.0, 0.0, 0.2, 1);
	}
h1.flag {
	
	/* Each letter */
}
h1.flag span {
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		display: inline-block;
		width: 3em;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		text-align: center;
		position: relative;
		z-index: 1;
		transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1)
		
		/* Solid Surface */
	}
h1.flag span::before {
			content: '';
			background-color: #F9F8EF;
			background-color: var(--paper-color);
			transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}
h1.flag span {
		
		/* Odd letters */
	}
h1.flag span:nth-child(odd) {
			transform: skewY(calc(-1*8deg));
			transform: skewY(calc(-1*var(--paper-inclination)));
			color: color( #C5BEAA tint(35%) );
			color: color( var(--font-color) tint(35%) );
			background: linear-gradient(-30deg, color( #F9F8EF lightness(+8%) ), color( #F9F8EF shade(5%) ));
			background: linear-gradient(-30deg, var(--paper-light), var(--bg-color-dark-shade15));
			box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.3);
			prospective: 1000px;
		}
h1.flag span {
		
		/* Even letters */
	}
h1.flag span:nth-child(even) {
			transform: skewY(8deg);
			transform: skewY(var(--paper-inclination));
			color: #C5BEAA;
			color: var(--font-color);
			background: linear-gradient(87deg, color( #F9F8EF shade(20%) ), color( #F9F8EF shade(5%) ));
			background: linear-gradient(87deg, var(--bg-color-dark-shade30), var(--bg-color-dark-shade15));
			box-shadow: inset -1px 0 0px rgba(0, 0, 0, 0.05);
			prospective: 1000px;
		}
h1.flag span {	
		
		/* Paper border-radius */
	}
h1.flag span:first-of-type,
		h1.flag span:first-of-type::before {
			border-radius: 4px 0 0 4px;
			border-radius: var(--paper-radius) 0 0 var(--paper-radius);
		}
h1.flag span:last-of-type,
		h1.flag span:last-of-type:before {
			border-radius: 0 4px 4px 0;
			border-radius: 0 var(--paper-radius) var(--paper-radius) 0;
		}
h1.flag {
	
	/* Hover interaction */
}
h1.flag:hover::before {
			opacity: 0.5;
			filter: blur(2px);
			left: 1%;
			width: 98%;
		}
h1.flag:hover span {
			transform: none;
			color: #C5BEAA;
			color: var(--font-color);
			box-shadow: none;
			transition-duration: 200ms;
			transition-duration: var(--transition-duration);
			width: 3.1em
		}
h1.flag:hover span::before {
				opacity: 1;
				transition-duration: 200ms;
				transition-duration: var(--transition-duration);
			}



