@charset "UTF-8";
@import 
url(https://fonts.googleapis.com/css?family=Roboto:400);

/*λ©”μΈν—¤λ”*/

.headicon {
    width: 120px;
    height: 120px;
    transform: translate(25%, 37%);
  
}

.header {
  width: 1200px;
  margin: 5em auto 3em;
}

.header-nav {
  position: relative;
  padding-right: 7em;
  font-size: 1.4em;
  font-family: 'Nanum Myeongjo', serif;
}
.header-nav:before, .header-nav:after {
  content: "";
  display: table;
}
.header-nav:after {
  clear: both;
}

.menu {
	display: inline-block;
    float: right;
    list-style-type: none;
    margin: 0.8%;
    padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  color: #C05555;
  display: block;
  padding: 10px;
  position: relative;
  transition: color 0.3s;
  text-decoration: none;
}


.search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.search-toggle {
  position: relative;
  display: block;
  height: 10px;
  width: 10px;
}
.search-toggle::before, .search-toggle::after {
  content: "";
  position: absolute;
  display: block;
  transition: all 0.1s;
}
.search-toggle::before {
  border: 2px solid #C05555;
    border-radius: 50%;
    width: 250%;
    height: 250%;
    left: -30px;
    top: -15px;
}

.search-toggle::after {
    height: 5px;
    width: 15px;
    background: #C05555;
    top: 10px;
    left: -10px;
    transform: rotate(45deg);
}
.search-toggle.active::before {
    width: 2px;
    border-width: 3px;
    border-radius: 2px;
    transform: rotate(45deg);
    top: -2px;
    left: 2px;
}
.search-toggle.active::after {
  width: 30px
}

.search-input:focus {
  outline: none;
}

#header-1 {
  border-bottom: 2px solid #C05555;
}
#header-1 .search-box {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    max-height: 0;
    transform: translateY(100%);
    background-color: #C05555;
    transition: all 0.3s;
}
#header-1 .search-box .search-input {
  width: 100%;
  height: 100%;
  font-size: 95%;
  padding: 0 1em;
  border: 0;
  background-color: transparent;
  color: #fff;
}
#header-1 .search-box .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
#header-1.show .search-box {
  max-height: 200%;
}
#header-1.show .search-box .search-input {
  opacity: 1;
}



:root {
	--font-size: 2vw;
	--font-color: #C5BEAA;
	--paper-color: #F9F8EF;
	--paper-radius: 4px;
	--paper-inclination: 8deg;
	--background-color: #77EEDF;
}














